<ion-navbar [hideBackButton]="header_data.hideBackButton" text-center>
    <ion-grid>
        <ion-row class="row">
            <ion-col>
                <img width="40" [src]="imgSrc" (click)="goHome()"/>
            </ion-col>
            <ion-col col-8>
                <ion-title text-center class="header-title">
                    {{header_data.title}}
                </ion-title>
            </ion-col>
            <ion-col>
                <ion-fab *ngIf="header_data.withTranslate" center middle>
                    <button ion-fab color="red"><ion-icon name="flag"></ion-icon></button>
                    <ion-fab-list side="left">
                        <button ion-fab (click)="chooseLanguage('fr')" color="primary">Fr</button>
                        <button ion-fab (click)="chooseLanguage('en')" color="danger">En</button>
                    </ion-fab-list>
                </ion-fab>
                <button *ngIf="header_data.withProfile" ion-button icon-only (click)="goProfil()">
                    <ion-icon name="contact"></ion-icon>
                </button>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-navbar>