page-map {
  page-leaflet {
    .map-container {
      position: absolute !important;
      top: 0px !important;
      bottom: 0px !important;
      width: 100% !important;
      height: 100% !important;
    }
  }
}
