page-connexion {
  .facebook-button {
    background-color: #3C5A99;
  }

  .google-button {
    background-color: #d34836;
  }

  .mail-button {
    background-color: darkgray;
  }

  ion-row {
    margin-top: 2rem;
  }
}
