page-connexion {
  .facebook-button {
    background-color: #3C5A99;
  }

  .google-button {
    background-color: #d34836;
  }

  .mail-button {
    background-color: darkgray;
  }

  ion-row.connexion {
    margin-top: 2rem;
  }
  .background-transition {
    background-image: url('../assets/imgs/sky.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  }
}
